<div class="col s12 m6 l4">
  <div class="card small sticky-action">
    <div class="card-content" style="padding-top: 10px; padding-bottom: 0px;">
      <span class="card-title activator grey-text text-darken-4">{{ company.name }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-image waves-effect waves-block waves-light" style="height:100%;">
      <img class="activator" src="{{ company.pictureUrl }}">
    </div>
    <div class="card-reveal" style="background-color: rgb(255,255,255,0.93);">
      <span class="card-title grey-text text-darken-4" style="background-color: #ffffff; margin-top: -18px;">{{ company.name }}<i class="material-icons right">close</i></span>
      <p>{{ company.description }}</p>
    </div>
    <div class="card-action ">
        <a href="#" class="btn waves-effect waves-light blue lighten-1">Update</a>&nbsp;
        <a href="#" class="btn waves-effect waves-light red lighten-1">Delete</a>
    </div>
  </div>
</div>
