
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#" routerLink="/company">List companies</a></li>
  <li><a href="#" routerLink="/company/add">Add company</a></li>
  <li class="divider"></li>
  <li><a href="#" routerLink="/computer">List computers</a></li>
  <li><a href="#" routerLink="/computer/add">Add computer</a></li>
  <li class="divider"></li>
  <li *ngIf="authService.isLoggedIn()" ><a href="logout">Logout</a></li>
</ul>


<header>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left"><i class="material-icons">dvr</i><span class="hide-on-large-only">CDB</span><span class="hide-on-med-and-down">Computer Database</span></a>

      <ul class="right hide-on-large-only">
        <li><a class="dropdown-trigger" href="" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li class="vertical-sep">&nbsp;</li>
          <li><a href="#" routerLink="/company">List companies</a></li>
          <li><a href="#" routerLink="/company/add">Add company</a></li>
          <li class="vertical-sep">&nbsp;</li>
          <li><a href="#" routerLink="/computer">List computers</a></li>
          <li><a href="#" routerLink="/computer/add">Add computer</a></li>
          <li class="vertical-sep">&nbsp;</li>
          <li *ngIf="authService.isLoggedIn()"><a href="logout">Logout</a></li>
          <li class="vertical-sep">&nbsp;</li>
        </ul>
    </div>
  </nav>
</header>
