<header>
  <nav class="nav-extended">
    <div class="nav-wrapper" style="margin-left:20px;margin-right:20px;">
      <a href="#" class="brand-logo left"><i class="material-icons">dvr</i><span class="hide-on-large-only">CDB</span><span class="hide-on-med-and-down">Computer Database</span></a>
      <ul id="nav-mobile" class="right">
        <li><a href="#">Add</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <form>
        <div class="input-field" >
          <input id="search" type="search" name="searchTerm" required style="padding-left:45px;" (ngModelChange)="search($event)" [(ngModel)]="searchTerm">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</header>
