<header>
  <nav class="nav-extended">
    <div class="nav-content">
      <form>
        <div class="input-field" >
          <input id="search" type="search" name="searchTerm" required (ngModelChange)="search($event)" [(ngModel)]="searchTerm">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</header>

<div class="container" (searchEvent)="search($event)">
  <div class="row">
      <app-company *ngFor="let company of companiesToPrint" [company]="company" (deleteEvent)="delete($event)"></app-company>
  </div>
</div>
