<div class="container">
  <h1>Add new company</h1>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <div *ngIf="successMessage">{{successMessage}}</div>
  <form [formGroup]="addForm" >
    <div class="form-group">
      <label for="name">Company Name: </label>
      <input name="name" type="text" class="form-control" id="name" formControlName="name" required>
    </div>

    <div class="form-group">
      <label for="picture">Logo link: </label>
      <input name="picture" type="text" class="form-control" id="picture" formControlName="url">
    </div>

    <button (click)="addCompany()">ADD</button>
  </form>
</div>
