<div [ngClass]="{ 'scale-out' : !show }" class="col s12 m6 l4 scale-transition">
  <div class="card small sticky-action">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ computer.name }}<i class="material-icons right">more_vert</i></span>
    </div>
    <!-- <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ computer.pictureUrl }}">
    </div> -->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ computer.name }}<i class="material-icons right">close</i></span>
      <p><strong>Introduction</strong>:
        <span *ngIf="computer.introduced">{{ computer.introduced }}</span>
        <span *ngIf="!computer.introduced">-</span>
      </p>
      <p><strong>Discontinuation</strong>:
        <span *ngIf="computer.discontinued">{{ computer.discontinued }}</span>
        <span *ngIf="!computer.discontinued">-</span>
      </p>
      <p><strong>Company</strong>:
        <span *ngIf="computer.companyName">{{ computer.companyName }}</span>
        <span *ngIf="!computer.companyName">-</span>
      </p>
    </div>
    <div *ngIf="this.authService.isAdmin()" class="card-action ">
        <a  href="/computer/update/{{ computer.id }}" class="btn waves-effect waves-light blue lighten-1">Update</a>&nbsp;
        <a href="#modal{{ computer.id }}" class="btn waves-effect waves-light red lighten-1 modal-trigger">Delete</a>
    </div>
  </div>
</div>
<div id="modal{{ computer.id }}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Confirm deletion</h4>
    <p>Are you sure you want to delete the computer <i>"{{ computer.name }}"</i>?<br/>
    Be careful, this action cannot be undone!</p>
  </div>
  <div class="modal-footer">
    <a href="/computer#!" class="modal-close btn grey waves-effect waves-light left">No, go back</a>
    <a href="/computer#!" class="modal-close btn red  waves-effect waves-light" (click)="delete()">Yes, delete computer</a>
  </div>
</div>
