<div class="container col s12 m6 l4 pad">

  <div *ngIf="isSubmitted">
    <div *ngIf="isUpdated" class="alert alert-success" role="alert">
        Update Success !
    </div>
    <div *ngIf="!isUpdated" class="alert alert-danger" role="alert">
        Failed to update !
    </div>
  </div>

  <form class="card medium sticky-action form" [formGroup]="form">
    <input hidden formControlName="id" value="{{form.value.id}}">

    <div class="card-content">
      <input placeholder="Company Name" type="text" id="name" value="{{form.value.name}}" formControlName="name" class="waves-light lighten-1 right" required>
      <label for="name">Company Name</label>
    </div>

    <div class="card-content">
      <input placeholder="Logo" type="text" id="logo" value="{{form.value.pictureUrl}}" formControlName="pictureUrl" class="waves-light lighten-1 right">
      <label for="logo">Logo</label>
    </div>

    <div class="card-content">
      <textarea placeholder="Description" type="text" id="description" value="{{form.value.description}}" formControlName="description" class="materialize-textarea waves-light lighten-1 right"></textarea>
      <label for="description">Description</label>
    </div>

    <div class="card-action interaction">
      <a href="#" class="btn waves-effect waves-light blue lighten-1">Back</a>&nbsp;
      <button type="button" (click)="submit()" class="btn waves-effect waves-light blue lighten-1">Submit</button>&nbsp;
    </div>
  </form>
</div>
