<div class="container">
  <h1>Update computer <em>"{{ computer.name }}"</em></h1>
  <div *ngIf="errorMessage" class="card-panel red lighten-2 error-message">
    <div>
      <div class="icon"><i class="medium material-icons">error</i></div>
      <div>{{errorMessage}}</div>
    </div>
  </div>

  <form [formGroup]="updateForm">
    <input hidden formControlName="id" value="{{ computer.id }}">

    <div class="form-group input-field">
      <input name="name" type="text" class="form-control" id="name" formControlName="name" value="{{ computer.name }}" required>
      <label for="name">Computer Name: </label>
    </div>

    <div class="form-group input-field">
      <input name="introduced" type="text" class="form-control" id="introduced" formControlName="introduced" value="{{ computer.introduced }}">
      <label for="introduced">Introduction: </label>
    </div>

    <div class="form-group input-field">
      <input name="discontinued" type="text" class="form-control" id="discontinued" formControlName="discontinued" value="{{ computer.discontinued }}" >
      <label for="discontinued">Discontinuation: </label>
    </div>

    <div class="form-group select-field">
      <label for="companyId">Company: </label>
        <select id="companyId" name="companyId" formControlName="companyId">
          <option value="-1">---</option>
          <option *ngFor="let company of companies" value="{{ company.id }}" selected="{{ company.id === computer.companyId ? 'selected' : '' }}">{{ company.name }}</option>
        </select>
    </div>

    <div class="form-buttons-bottom">
      <a class="btn red waves-effect waves-light" (click)="cancel()">Cancel</a>
      &nbsp;
      <button class="btn waves-effect waves-light" (click)="updateComputer()" [disabled]="updateForm.invalid">Update computer</button>
    </div>
  </form>
</div>
