.container {
  margin-top:10px;
  margin-bottom: 10px;
}

.col {
  text-align:center;
  background-color: #0277bd;
  color: white;
  border: 5px solid white;
  border-radius: 30px;
}

.material-icons {
  font-size: 12rem;
}

.col:hover {
  background-color: #0869a1;
}
